<div class="main">
  <div class="content">
    <h2 class="title">Skills</h2>

    <div class="divider"></div>

    <div class="row g-5">
      @for (skill of (skills$ | async).skills; track $index) {
        <div class="col-6">
          <div class="progress-title fw-semibold">
            {{ skill.name | titlecase }}
          </div>
          <div class="d-flex align-items-center justify-content-center gap-3">
            <div
              class="progress flex-1"
              role="progressbar"
              aria-label="progress bar"
              [attr.ariaValuenow]="skill.percentage"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                [@progressAnimation]="{
                  value: progressState,
                  params: { percentage: skill.percentage },
                }"
              ></div>
            </div>
            <div class="percentage fw-bold">{{ skill.percentage + '%' }}</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
