<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title">
    <h2>About</h2>
    <p>
      {{ (aboutData$ | async).description }}
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img
          [src]="(userData$ | async).profileImage"
          class="img-fluid profile-img"
          alt=""
        />
      </div>
      <div class="col-lg-8 content">
        <h2>{{ (aboutData$ | async).designation }}.</h2>
        <p class="fst-italic py-3">
          {{ (aboutData$ | async).designationDescription }}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                <span> {{ (aboutData$ | async).DOB | date: 'd MMM y' }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                <span>{{ (aboutData$ | async).website }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                <span>{{ (aboutData$ | async).phone }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                <span>{{ (aboutData$ | async).city }}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                <span>{{ (aboutData$ | async).age }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                <span>{{ (aboutData$ | async).degree }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                <span>{{ (userData$ | async).email }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                <span>{{
                  (aboutData$ | async).freelancer ? 'Available' : 'Unavailable'
                }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Stats Section -->
<section id="stats" class="stats section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="stats-item">
          <i class="bi bi-emoji-smile"></i>
          <!-- [countUp]="(aboutData$ | async).happyClient" -->
          <span
            class="purecounter"
            [countUp]="(aboutData$ | async)?.happyClient"
            [duration]="500"
          ></span>
          <p><strong>Happy Clients </strong> <span>consequuntur quae</span></p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item">
          <i class="bi bi-journal-richtext"></i>
          <span
            class="purecounter"
            [countUp]="(aboutData$ | async).projects"
            [duration]="500"
          ></span>
          <p>
            <strong>Projects</strong> <span> adipisci atque cum quia aut</span>
          </p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item">
          <i class="bi bi-headset"></i>
          <span
            class="purecounter"
            [countUp]="(aboutData$ | async).hoursOfSupports"
            [duration]="500"
          ></span>
          <p>
            <strong>Hours Of Support </strong> <span>aut commodi quaerat</span>
          </p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item">
          <i class="bi bi-people"></i>
          <span
            [countUp]="(aboutData$ | async).team"
            [duration]="500"
            class="purecounter"
            >{{ (aboutData$ | async).team }}</span
          >
          <p>
            <strong>Hard Workers </strong> <span>rerum asperiores dolor</span>
          </p>
        </div>
      </div>
      <!-- End Stats Item -->
    </div>
  </div>
</section>
<!-- /Stats Section -->
