<div class="content">
  <h2>Welcome, Greg</h2>

  <div class="profile-img">
    <img class="img" src="/assets/img/admin.png" alt="user" />
  </div>

  <div class="userForm">
    <div class="d-flex gap-5">
      <div class="control-wrap">
        <label class="label">Firstname</label>
        <app-input [placeholder]="'Firstname'" />
      </div>

      <div class="control-wrap">
        <label class="label">Lastname</label>
        <app-input [placeholder]="'Lastname'" />
      </div>
    </div>

    <div class="d-flex gap-5">
      <div class="control-wrap">
        <label class="label">Email</label>
        <app-input [placeholder]="'Email'" />
      </div>

      <div class="control-wrap">
        <label class="label">Add Tags</label>
        <div class="d-flex align-items-center gap-4 input-wrap">
          <app-input [placeholder]="'Tags'" />
          <button class="btn btn-dark">Add Tag</button>
        </div>
        <div>test</div>
      </div>
    </div>
  </div>
</div>
