.main-wrap {
  display: flex;
  flex: 1;
  .header-wrap {
  }

  .main-wrap {
    width: 100%;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
  }
}

.btn-setting {
  z-index: 999;
  bottom: 30px;
  position: sticky !important;
  left: 96%;
}
