<h2>
  <app-icons [iconName]="'about'" width="30px" height="30px" /> About settings
</h2>

<div class="container-fluid content">
  <div class="row">
    <div class="col-6">
      <label class="form-label fw-medium" for="">About description</label>
      <app-textarea />
    </div>

    <div class="col-6">
      <label class="form-label fw-medium" for="">Designation description</label>
      <app-textarea />
    </div>
  </div>

  <div class="row">
    <div class="col-6 d-flex flex-column date-wrap">
      <label class="form-label fw-medium" for="">Date of birth</label>
      <app-datepicker />
    </div>

    <div class="col-4">
      <label class="form-label fw-medium" for="">Age</label>
      <app-input [type]="'number'" placeholder="Age" />
    </div>

    <div class="col-2 d-flex flex-column justify-content-center">
      <label class="form-label fw-medium" for="">Freelancer</label>
      <app-radio [radioOptions]="freelancerOption" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label class="form-label fw-medium" for="">Website</label>
      <app-input [type]="'text'" placeholder="Website" />
    </div>

    <div class="col-6">
      <label class="form-label fw-medium" for="">Degree</label>
      <app-input [type]="'text'" placeholder="Degree" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label class="form-label fw-medium" for="">Phone</label>
      <app-input [type]="'number'" placeholder="Phone" />
    </div>

    <div class="col-6">
      <label class="form-label fw-medium" for="">City</label>
      <app-input [type]="'text'" placeholder="City" />
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label class="form-label fw-medium" for="">Happy client</label>
      <app-input [type]="'number'" placeholder="Happy Clients" />
    </div>

    <div class="col-3">
      <label class="form-label fw-medium" for="">Projects</label>
      <app-input [type]="'number'" placeholder="Projects" />
    </div>

    <div class="col-3">
      <label class="form-label fw-medium" for="">Hours of supports</label>
      <app-input [type]="'number'" placeholder="Hours of supports" />
    </div>

    <div class="col-3">
      <label class="form-label fw-medium" for="">Team</label>
      <app-input [type]="'number'" placeholder="Team" />
    </div>
  </div>

  <div class="py-2">
    <button class="btn btn-dark px-5">Submit</button>
  </div>
</div>
