@if (control) {
  <textarea
    [placeholder]="placeholder"
    [class]="' ' + classList"
    [formControl]="control"
    name="textarea"
    id="textarea"
    >{{ value }}</textarea
  >
} @else {
  <textarea
    [placeholder]="placeholder"
    [class]="' ' + classList"
    name="textarea"
    id="textarea"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
  ></textarea>
}

<div class="text-danger">
  @for (error of errors; track $index) {
    @if (control.touched && control.hasError(error.name)) {
      {{ error.message }}
    }
  }
</div>
