<section id="skills" class="skills section light-background">
  <div class="container section-title">
    <h2>Skills</h2>
    <p>{{ (skillData$ | async)?.description }}.</p>
  </div>

  @if ((skillData$ | async)?.skills?.length) {
    <div class="container">
      <div class="row skills-content skills-animation">
        <div class="col-lg-6">
          @for (
            skill of (skillData$ | async)?.skills;
            track skill;
            let index = $index
          ) {
            @if (index % 2 === 0) {
              <div class="progress">
                <span class="skill"
                  ><span>{{ skill?.name }}</span>
                  <i class="val">{{ skill?.percentage }}%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [attr.aria-valuenow]="skill?.percentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [style.width.%]="skill?.percentage"
                  ></div>
                </div>
              </div>
            }
          }
        </div>

        <div class="col-lg-6">
          @for (
            skill of (skillData$ | async)?.skills;
            track skill;
            let index = $index
          ) {
            @if (index % 2 === 1) {
              <div class="progress">
                <span class="skill"
                  ><span>{{ skill?.name }}</span>
                  <i class="val">{{ skill?.percentage }}%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [attr.aria-valuenow]="skill?.percentage"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [style.width.%]="skill?.percentage"
                  ></div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</section>
