.content-wrap {
  padding: 10px;

  .list-wrap {
    .item {
      .card {
        &.active {
          border: 2px solid var(--bs-primary);
        }
      }
    }
  }

  .btn-wrap {
    width: 100%;
    padding: 20px 10px;
  }
}
