<section id="resume" class="resume section">
  <div class="container section-title">
    <h2>Resume</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        @for (data of resumeData$ | async; track data; let index = $index) {
          @if (data?.data?.length && index % 2 === 0) {
            <h3 class="resume-title">{{ data.title }}</h3>
            <ng-template
              [ngTemplateOutlet]="resumeItems"
              [ngTemplateOutletContext]="{ items: data.data, index: index }"
            >
            </ng-template>
          }
        }
      </div>

      <div class="col-lg-6">
        @for (data of resumeData$ | async; track data; let index = $index) {
          @if (data?.data?.length && index % 2 !== 0) {
            <h3 class="resume-title">{{ data.title }}</h3>

            <ng-template
              [ngTemplateOutlet]="resumeItems"
              [ngTemplateOutletContext]="{ items: data.data, index: index }"
            >
            </ng-template>
          }
        }
      </div>
    </div>
  </div>

  <ng-template #resumeItems let-items="items" let-index="index">
    @for (item of items; track item; let i = $index) {
      <div class="resume-item pb-0">
        <h4>{{ item.subtitle }}</h4>
        @if (item.startYear) {
          <h5>
            {{ item.startYear }} -
            {{ item.endYear ? item.endYear : 'Present' }}
          </h5>
        }
        <p>
          <em>{{ item.description }}</em>
        </p>
        <ul [class.no-margin]="1 < items?.length && index < items?.length">
          @if (item?.points?.length) {
            @for (point of item.points; track $index) {
              <li>{{ point }}</li>
            }
          }
        </ul>
      </div>
    }
  </ng-template>
</section>
